body {
    margin: 0;
    font-family: sans-serif;
}
.header {
    padding: 32px;
    display: flex;
    justify-content: center;
    background-color: rgb(60, 60, 156);
    color: azure;
    border-bottom: 5px solid #e0b642;
}
.gallery {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;
}
.gallery > img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery::after {
    content: "";
    width: 100%;
    max-width: 350px;
}